:root {
	--dark-bg: #212529;
	--dark-bg-muted: #444a50;
	--dark-body-color: #eef3f7;
	--dark-green: #4caf50;
	--dark-blue: #1a75fe;
	--border-width: 1px;
	--border-color: #495057;
	--border-radius: 0.25rem;
}

html {
	font-size: 16px;
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		"Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
	color: var(--dark-body-color);
}

h1 {
	font-weight: 500;
}

input {
	display: block;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--dark-body-color);
	background-color: var(--dark-bg);
	background-clip: padding-box;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
}

.card {
	background-color: var(--dark-bg);
	border-radius: var(--border-radius);
	padding: 1rem;
}
